<div class="container main-container">
  <h4>Demo Cadastro</h4>
  <hr />
  {{registerForm.valid | json}}
  {{registerForm.value | json}}
  <form novalidate [formGroup]="registerForm" (ngSubmit)="addUser()">
    <div class="form-horizontal">

      <div class="form-group">
        <label class="col-md control-label" for="name">Nome Completo</label>
        <div class="col-md-10">
          <input class="form-control" id="name" name="name" type="text" placeholder="Nome" formControlName="name"
            [ngClass]="{'is-invalid': registerForm.get('name').errors && (registerForm.get('name').dirty || registerForm.get('name').touched)}" />
          <span class="text-danger"
            *ngIf="registerForm.get('name').errors && (registerForm.get('name').dirty || registerForm.get('name').touched)">
            <p>Preencha o campo nome!</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md control-label" for="document">CPF</label>
        <div class="col-md-10">
          <input class="form-control" id="document" name="document" type="text" placeholder="CPF"
            formControlName="document" cpf [textMask]="{mask: MASKS.cpf.textMask}"
            [ngClass]="{'is-invalid': registerForm.get('document').errors && (registerForm.get('document').dirty || registerForm.get('document').touched)}" />
          <span class="text-danger"
            *ngIf="registerForm.get('document')?.errors?.required && (registerForm.get('document').dirty || registerForm.get('document').touched)">
            <p>Preencha o campo CPF!</p>
          </span>
          <span class="text-danger"
            *ngIf="registerForm.get('document')?.errors?.cpf && (registerForm.get('document').dirty || registerForm.get('document').touched)">
            <p>E-mail inválido!</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md control-label" for="email">E-mail</label>
        <div class="col-md-10">
          <input class="form-control" id="email" name="email" type="text" placeholder="E-mail" formControlName="email"
            [ngClass]="{'is-invalid': registerForm.get('email').errors && (registerForm.get('email').dirty || registerForm.get('email').touched)}" />
          <span class="text-danger"
            *ngIf="registerForm.get('email')?.errors?.required && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            <p>Preencha o campo E-mail!</p>
          </span>
          <span class="text-danger"
            *ngIf="registerForm.get('email')?.errors?.email && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            <p>E-mail inválido!</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md control-label" for="password">Senha</label>
        <div class="col-md-10">
          <input class="form-control" id="password" name="password" type="password" placeholder="Senha"
            formControlName="password"
            [ngClass]="{'is-invalid': registerForm.get('password').errors && (registerForm.get('password').dirty || registerForm.get('password').touched)}" />
          <span class="text-danger"
            *ngIf="registerForm.get('password')?.errors?.required && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            <p>Preencha o campo Senha!</p>
          </span>
          <span class="text-danger"
            *ngIf="registerForm.get('password')?.errors?.rangeLength && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            <p>Tamanho da senha inválido!</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md control-label" for="passwordConfirm">Confirmar a Senha</label>
        <div class="col-md-10">
          <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password"
            placeholder="Confirme a Senha" formControlName="passwordConfirm"
            [ngClass]="{'is-invalid': registerForm.get('passwordConfirm').errors && (registerForm.get('passwordConfirm').dirty || registerForm.get('passwordConfirm').touched)}" />
          <span class="text-danger"
            *ngIf="registerForm.get('passwordConfirm')?.errors && (registerForm.get('passwordConfirm').dirty || registerForm.get('passwordConfirm').touched)">
            <p>As senhas não conferem!</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span><button class="btn btn-success" id="registrar" type="submit"
              [disabled]="!registerForm.valid">Registrar</button></span>
        </div>
      </div>
    </div>
  </form>
</div>
